<h1>All Tags</h1>

<div class="container">

  <div class="tags_list">
    <% @tags.each do |tag| %>
    <p class="tags"><%= link_to tag.name, admin_tag_path(tag) %></p>
    <% end %>
  </div>
</div>

<div class="">
  <%= link_to "New Tag", new_admin_tag_path %>
</div>
